/* Global */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
::selection {
  background: var(--b-color);
  color: var(--warning-color);
}
:root {
  --padding: 46px 0;
  --padding1\2: 69px 0;
  --primary-color: #3b71ca;
  --info-color: #17a2b8;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --secondary-color: #9fa6b2;
  --dark-color: #343a40;
  --w-color: #fff;
  --b-color: #000;
  --g-color: #777;
  --transition-3: all 0.3s ease;
  --transition-4: all 0.4s ease;
  --transition-5: all 0.5s ease;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
a {
  text-decoration: none;
  color: var(--w-color);
}
li {
  list-style: none;
}
img {
  object-fit: cover;
  object-position: center;
}
button {
  cursor: pointer;
  transition: var(--transition-3);
  font-weight: 600;
}
/* Components ---------------------------------------- */
.container {
  margin: 0 auto;
}
.head-title {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  line-height: 2;
  color: var(--dark-color);
}
.head-title h1 {
  letter-spacing: 0.5px;
}
.head-title p {
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--secondary-color);
}
.yellow {
  color: var(--warning-color);
}
.yellow p {
  color: var(--w-color);
}
.history .info .text button:hover,
.menu .container button:hover,
.gallery .container .pics img:hover,
.contact .container form button:hover {
  scale: 0.975;
}
.landing,
.offers,
.type,
.gallery,
footer {
  background-size: cover;
  background-position: center;
}
/* Header ---------------------------------------- */
header {
  height: 70px;
  width: 100%;
  position: absolute;
  z-index: 999;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  height: 100%;
}
header .container .navbar {
  display: flex;
  align-items: center;
  gap: 22px;
}
header .container .navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .navbar li:not(:last-child):after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: var(--transition-3);
}
header .container .navbar li:hover::after {
  opacity: 1;
}
header .container .navbar li a {
  font-size: 14px;
  font-weight: 700;
}
header .container .navbar li a i {
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}
/* ===== Landing ===== */
.landing {
  height: 100dvh;
  min-height: 430px;
  background-image: url(../images/home_bg.jpeg);
  position: relative;
}
.landing::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: #00000080;
}
.landing .container {
  color: var(--w-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  translate: -50% -50%;
}
.landing .container h1 span {
  color: var(--warning-color);
}
.landing .container p {
  font-weight: 500;
  font-size: 12px;
}
.landing .container button {
  width: fit-content;
  padding: 8px 24px;
  color: var(--w-color);
  background: none;
  border: 1px solid var(--w-color);
  border-radius: 8px;
  position: relative;
  z-index: 5;
}
.landing .container button::after {
  content: "";
  width: 0px;
  height: 0px;
  background-color: var(--warning-color);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  transition: var(--transition-3);
}
.landing .container button:hover {
  border-color: transparent;
}
.landing .container button:hover::after {
  width: 100%;
  height: 100%;
}
/* ===== History ===== */
.history {
  padding: var(--padding);
}
.history .info {
  display: flex;
  align-items: center;
  gap: 10%;
}
.history .info .text h4 {
  line-height: 1.6;
}
.history .info .text button {
  margin-top: 18px;
  padding: 8px 22px;
  color: var(--w-color);
  background-color: var(--dark-color);
  border-radius: 8px;
}
/* ===== Offers ===== */
.offers {
  padding: var(--padding);
  background-image: url(../images/offer-background.jpg);
}
.offers .container .plates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 52px 0;
}
.offers .container .plates .plate {
  color: var(--w-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.offers .container .plates .plate p {
  font-weight: 400;
  font-size: 14px;
}
.offers .container .plates .plate .price {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}
.offers .container .plates .plate .price p {
  text-decoration: line-through;
}
.offers .container .plates .plate .price span,
.menu .container .foods .food .more .up span {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--warning-color);
}
/* ===== Menu ===== */
.menu {
  padding: var(--padding);
}
.menu .container .foods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px 120px;
}
.menu .container .foods .food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
.menu .container .foods .food img {
  height: 93.58px;
  width: 93.58px;
  border-radius: 50%;
}
.menu .container .foods .food .more {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.menu .container .foods .food .more .up {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .container .foods .food .more .up span {
  font-weight: 6500;
}
.menu .container .foods .food .more > p {
  font-weight: 500;
}
.menu .container button {
  text-transform: uppercase;
  display: block;
  margin: 32px auto 0;
  padding: 8px 26px;
  color: var(--w-color);
  background-color: var(--warning-color);
  border-radius: 8px;
  border: none;
}
/* ===== Type ===== */
.type {
  padding: var(--padding1\2);
  background-image: url(../images/daytime_bg.jpeg);
}
.type .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  text-align: center;
  gap: 70px 0;
}
.type .container .icon {
  color: var(--w-color);
  line-height: 2;
}
.type .container .icon p {
  font-weight: 500;
}
/* ===== Gallery ===== */
.gallery {
  padding: var(--padding1\2);
  background-image: url(../images/offer-background.jpg);
}
.gallery .container .pics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
  position: relative;
}
.gallery .container .pics img {
  height: 280px;
  width: 100%;
  border-radius: 12px;
  transition: var(--transition-3);
}
.gallery .container .pics img:hover {
  filter: brightness(50%);
  cursor: pointer;
}
/* ===== Contact ===== */
.contact {
  padding: var(--padding1\2);
}
.contact .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.contact .container .info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact .container .info h1 {
  margin-bottom: 12px;
  color: var(--dark-color);
  font-size: 30px;
}
.contact .container .info div:first-child a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--g-color);
  font-weight: 500;
}
.contact .container .info div:first-child a:nth-child(2) {
  margin: 6px 0;
}
.contact .container .info div:first-child a i {
  font-size: 18px;
  color: var(--warning-color);
}
.contact .container .info div:last-child .links {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contact .container .info div:last-child .links i {
  padding: 7px 7px;
  color: var(--w-color);
  background-color: var(--dark-color);
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: var(--transition-3);
}
.contact .container .info div:last-child .links i:hover {
  scale: 1.07;
}
.contact .container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact .container form input,
.contact .container form button {
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #ffc10724;
}
.contact .container form input[name="massage"] {
  padding-bottom: 104px;
}
.contact .container form button {
  width: fit-content;
  padding: 12px 31px;
  background-color: var(--warning-color);
  color: var(--w-color);
  text-transform: uppercase;
}
/* ===== Footer ===== */
footer {
  min-height: 67px;
  padding: 22px 0;
  background-image: url(..//images/offer-background.jpg);
  color: var(--w-color);
  text-align: center;
}
footer a {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: var(--warning-color);
  transition: var(--transition-3);
}
footer a:hover {
  scale: 0.95;
}
/* Media */
/* minMedia ---------------------------------------- */
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
  header .container .navbar li:last-child {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* maxMedia ---------------------------------------- */
@media (max-width: 1199px) {
  .history .container .info {
    flex-direction: column;
    gap: 32px;
  }
  .history .container .info .text {
    order: 2;
  }
}
@media (max-width: 991px) {
  .contact .container {
    gap: 32px 0;
  }
}
@media (max-width: 767px) {
  .history .container .info {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 22px;
  }
  header .container .navbar li:not(:last-child) {
    display: none;
  }
  header .container .navbar li:last-child {
    display: block;
  }
  .history .container .info img {
    width: 100%;
    min-width: 250px;
  }
  .history .container .info .text {
    font-size: 12px;
  }
  .offers .container .plates {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .offers .container .plates .plate img {
    width: 85%;
    max-width: 275px;
  }
  .menu .container .foods {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .menu .container .foods .food {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu .container .foods .food .more {
    font-size: 12px;
  }
  .gallery .container .pics {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .contact .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 22px;
  }
}
/* ===== Mobile Navbar ===== */
.mobile-navbar {
  min-height: 100dvh;
  width: 80%;
  padding: 12px 6px;
  background: var(--warning-color);
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: fixed;
  top: 0;
  right: -100%;
  direction: rtl;
  transition: var(--transition-3);
}
.mobile-navbar li a {
  color: var(--dark-color);
  cursor: pointer;
  font-size: 32px;
  transition: var(--transition-3);
}
.mobile-navbar li a:hover {
  color: white;
}
@media (max-width: 435px) {
  .mobile-navbar {
    width: 100%;
  }
}
